SetEnv APPLICATION_ENV development

RewriteEngine on
RewriteBase /codeigniter



RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]


php_value memory_limit 9999M
php_value upload_max_filesize 9999M
php_value post_max_size 9999M
php_value max_input_vars 200000
